@media	( max-width: 1920px	)
	.main
		&-image
			flex: 1 0 68%
			transform: translate(-77%, 0px)
			position: relative
			padding: 0 0 46.5% 0
			margin-top: 35px
			max-width: 1005px
			max-height: 589px
			&__image
				width: 100%
				height: 100%
				position: absolute

@media	( min-width: 1440px	)
	.projects
		&-slider
		&__image
		 max-width: 360px
		 max-height: 400px
		&__image2
		 max-width: 360px
		 min-height: 400px

@media	( max-width: 1433px	)
	.projects
		&-text
			&-title
				font-size: 24px
				line-height: 32px
				letter-spacing: 0.2px

@media	( max-width: 1300px	)
	.container
		max-width: 1140px
	.nav
		&-menu
			margin-left: 0px
	.services
		&-card
			max-width: 335px
	.projects
		&-title
			max-width: 1100px
		&-slider
			&__image
			&-text

@media (max-width: 1200px)
	.contaner
		max-width: 960px
		margin: auto
	.main
		&-body
			width: 40%
	.partners
		&-text
			&__description
				text-align: center
	.services
		&-title
			flex-direction: column
		&-card
			max-width: 300px
	.footer
		padding-top: 80px
		&-wrap
			max-width: 970px
			justify-content: center
		&__item
			&--mb-3
				margin-bottom: 24px
		&-link
			order: 5
			margin: 0
			text-align: center
			margin-top: 50px
			&__image
				margin-right: 0
				margin-left: 27px

		&__product
			order: 1
			margin-right: 0
			text-align: center
		&__service
			order: 2
			margin-right: 0
			text-align: center
		&__company
			order: 3
			margin-right: 0
			text-align: center
		&__more
			order: 4
			margin-right: 0
			text-align: center
		&__list
			width: 230px
	.projects
		&-title
			text-align: center
		&-slider
			&-text
				&__title
					font-size: 20px
	.reviews
		padding-left: 20px
		padding-right: 20px
		&-slider
			&__wrapper
				max-width: 904px
			&-avatar
				margin: 0 auto
				margin-bottom: 20px
			&-text
				text-align: center
			&__card
				width: 100%
				min-height: 267px
				margin: 0 auto
				padding: 15px
				padding-top: 20px
				padding-left: 20px

		&-button
			&-next
				left: -27px

@media (max-width: 992px)
	.container
		max-width: 780px
		margin: auto
	.nav
		&-menu
			margin-left: 0px
	.main
		flex-wrap: wrap
		overflow: visible
		&-image
			flex: 0 0 100%
			transform: translate(21%, 0px)
			position: relative
			max-width: 100%
		&__image
			width: 100%
		&__body
			width: 100%
			display: flex
			flex-direction: column
			align-items: center

		&__text
			text-align: center
		&__container

		&__description
			text-align: center
	.partners
		&__title
			text-align: center
			margin-top: 500px
		&-text
			flex-direction: column
	.title
		text-align: center

	.services
		&-card
			max-width: 48%
	.network
		&-wrap
			flex-wrap: wrap
			max-width: 780px
			margin: auto
			/*padding: 0 20px

		&-card
			max-width: 300px
			margin-bottom: 30px
	.container
		&-network
			max-width: 780px
	.footer
		&__list
			width: 175px
	.reviews
		&-slider
			&__wrapper
			&__card
				width: 90%
				margin: 0 auto
		&-button
			&-prev
				right: 19px
			&-next
				left: 19px
				top: 41%
	.projects
		&-slider
			&-text
				padding: 10px
				&__title
					font-size: 20px
				&__subtitle
					text-align: center
@media ( max-width: 768px	)
	.container
		max-width: 700px
	body
		padding-top: 78px
	.header
		&--mobile
			&_fixed
				position: fixed
				left: 0
				top: 0
				right: 0
				z-index: 99

	.nav

		&-menu
			position: fixed
			top: 78px
			left: 0
			right: 0
			bottom: 0
			display: none
			background-color: #FAFDFF
			width: 100%
			height: 100%

			&--visible
				display: block
				display: flex
				flex-direction: column
				align-items: center
				justify-content: start
			&-button
				&--mobile
					&_hidden
						display: none
					&_visible
						display: block

	.menu
		&-button
			display: flex
			align-items: center
			justify-content: space-between
			flex-direction: column
			width: 22px
			height: 18px
			border: none
			background-color: #FAFDFF

			&__line
				width: 22px
				height: 2.2px
				background: #3A4C66
				border-radius: 2px
	.partners
		padding: 20px 20px
		&__title
			margin-top: 210px
		&-text
			&-description
				margin-bottom: 0
		&-logo
			flex-wrap: wrap
			max-width: 360px
			margin: auto
			&__link
				margin-bottom: 30px
				&:last-child
					display: none

			&__description
				margin-bottom: 0

				font-size: 28px

	.services
		&__description
			text-align: center

		&-card
			&__description
				margin-left: 0
		&__just
			font-size: 28px
	.network
		padding-bottom: 56px
		&-card
			max-width: 258px
			margin-bottom: 50px
		&-wrap
			justify-content: space-around
	.footer
		&__list
			width: 250px
			margin-bottom: 30px
	.modal
		z-index: 100
		&-dialog
			width: 300px
	.reviews
		&-slider
			&__wrapper
			&__card

		&-button
			&-prev
				right: 13px
			&-next
				left: 13px
				top: 41%
	.projects
		padding-bottom: 0
		&-slider
			&-text
				min-height: 104px
				&__subtitle
					margin-bottom: 0
@media ( max-width: 576px )
	.services
		&-cards
			max-width: 519px
		&-card
			flex-wrap: nowrap
			max-width: 100%
			&__description
				margin-left: 45px
	.partners
		&__title
			margin-top: 150px
	.network
		padding-bottom: 22px
		&-card
			max-width: 200px
			&__description
				min-height: 72px
	.friends
		&-title
			font-size: 42px
	.footer
		padding-top: 55px
		&__list
			width: 200px
	.projects
		&-button
			&-prev
				display: none
			&-next
				display: none
	.reviews
		&-slider
			&__wrapper
			&__card

		&-button
			&-prev
				right: 0px
			&-next
				left: 0px
				top: 41%

@media	 ( max-width: 490px	)
	.main
		&__title
			font-size: 38px
		&__text
			font-size: 38px

	.services
		&-card
			width: 450px
			flex-direction: column
			align-items: start
			padding-top: 14px
			&__title
				margin-left: 0
			&__description
				margin-left: 0
			&__image
				margin-top: 0
				margin-bottom: 6px
	.partners
		&__title
			margin-top: 100px
		&-text
			margin-bottom: 50px
			&__title
				font-size: 28px
				line-height: 29px
			&-description
				font-size: 13px
				line-height: 24px
			&__text
				margin-bottom: 15px
	.network
		&__title
			margin-bottom: 24px
		&-wrap
			/*padding: 0 10px
		&-title
			font-size: 28px
			line-height: 36px
		&-card
			max-width: 165px
			&__description
				font-size: 13px
				line-height: 19px
				min-height: 72px
			&__description1
				font-size: 13px
				line-height: 19px
				min-height: 76px

			&__link
			&__image
				margin-bottom: 15px
			&__title
				margin-bottom: 8px
	.friends
		padding-left: 15px
		padding-right: 15px
		&-description
			font-size: 16px

		&-title
			font-size: 32px
			line-height: 40px
	.footer
		padding-left: 20px
		padding-right: 20px
		&-wrap
			justify-content: space-evenly
			padding: 0
		&-link

		&__list
			width: 152px
			text-align: center
	.projects

		&-slider
			display: flex

			align-items: center

			&__wrap
				padding-left: 5px
				display: flex

				align-items: center
			&__image
	.reviews
		&-slider
			&-avatar

				flex-direction: column
				justify-content: center
			&-avatar1

				flex-direction: column
				justify-content: center
			&__job
				text-align: center

			&__card
				padding: 0px
			&__description
				max-width: 354px
				text-align: center
				max-height: 180px
			&__description1
				max-width: 354px
				text-align: center
				max-height: 180px
	.reviews
		&-slider
			&__wrapper
			&__card
				padding: 20px

		&-button
			&-prev
				right: 0px
			&-next
				left: 0px
				top: 42%

@media ( max-width: 350px	)
	.partners
		&-logo
			&__image1
				width: 108px
			&__image
				width: 94px
	.network
		&-card
			max-width: 130px
			&__link
				font-size: 11px
				line-height: 20px
				margin-right: -5px
			&-link
				display: flex
				align-items: center
				justify-content: space-evenly
	.friends
		padding-left: 5px
		padding-right: 5px
		&-title
			font-size: 28px
			line-height: 30px
		&-description
			font-size: 16px
			line-height: 27px
		&-link
			padding: 13px 25px
	.footer
		&-link
			text-align: center
			/*width: 232px
		&-copyright
			display: none
		&__link1
			display: block
		&__link2
			display: none
		&__title1
			display: block
			margin-bottom: 31px

		&__title2
			display: none
		&__list
			width: 110px
	.modal
		&-dialog
			width: 250px
	.projects
		&-slider
			max-height: 2430px

			&-text
				padding-left: 0px
				padding-right: 0px
				text-align: left
			&__slide
			&__image1
			 display: block
			&__image2
			 display: none
		&-button
			&-prev
				display: none
			&-next
				display: none
	.reviews
		&-button
			&-next
				top: 44%

@media ( max-width: 320px	)
	html
		overflow-x: hidden

	body
		overflow-x: hidden
	.container
		/*padding-left: 8px
		/*padding-right: 8px
	.header
		padding-top: 17px
		padding-bottom: 30px
	.main
		overflow: hidden
		height: 800px
		&__body
			position: relative
			max-width: 280px
			margin: 0 auto
		&__title
			font-weight: bold
			font-size: 30px
			line-height: 36px
			margin-bottom: 2px
		&__textmin
			font-weight: bold
			font-size: 30px
			line-height: 36px
		&__text
			font-weight: bold
			font-size: 30px
			line-height: 36px
			margin-bottom: 8px
		&__container
			padding-left: 22px
			padding-right: 8px
		&__description
			font-size: 16px
			line-height: 28px
			width: 280px
			margin-bottom: 18px
		&-text
			&-button
				padding: 13px 36px
				font-size: 16px
				line-height: 22px
				margin-bottom: 0
		&-down
			width: 48px
			position: absolute
			top: 711px
			left: 112px
		&-image
			margin-top: 48px
			margin-right: 0
			right: 68px
		&__image
			display: none

		&__content

		&-image
			&__mobile
				display: block
				height: 244px
				margin-left: 0
	.partners
		margin-top: 57px
		&-logo
			margin-top: 24px
			&__image
				width: 94px
				&--ml-1
					margin-left: 8px
					margin-top: 3px
			&__link
				margin-bottom: 20px
		&__title
			margin-top: 2px
			margin-bottom: 24px
		&-text
			margin-bottom: 28px
			&__title
				margin-left: 5px
				width: 270px
			&__text
				font-size: 28px
				line-height: 29px
				margin-bottom: 10px
				text-align: center
				letter-spacing: 0.2px

			&-description
				width: 270px
				margin-left: 5px

	.services
		padding: 55px 0 57px
		&__title
			margin-left: 10px
			margin-bottom: 10px

		&__description
			font-size: 16px
			line-height: 28px
			text-align: center
			margin-bottom: -33px
		&-card
			width: 280px
			padding: 23px 18px 24px 24px
			margin-bottom: 7px
			&--or-1
				order: 1
				padding-bottom: 44px
			&--or-2
				order: 2
			&--or-3
				order: 5
				padding-left: 15px
				padding-right: 22px
			&--or-4
				order: 3
				padding-right: 15px
				padding-bottom: 44px

			&--or-5
				order: 4
			&--or-6
				order: 6
				padding-bottom: 20px

			&__title
				font-size: 22px
				line-height: 33px
				letter-spacing: 0.2px
				margin-top: 21px
				&--fz-1
					font-size: 20px
					line-height: 24px
					letter-spacing: 0.2px
					margin-bottom: 8px
				&--mt-1
					margin-top: 15px
			&__description
				&--mb-1
					margin-bottom: 0
			&__image
				margin-top: 0
				width: 32px
				height: 34px
				margin-left: 3px
	.network
		margin-top: 44px
		padding-top: 88px
		&__title
			margin-bottom: 24px
		&-wrap
			padding: 0 15px
		&-title
			font-size: 28px
			line-height: 36px
			margin-bottom: 32px
		&-card
			max-width: 130px
			margin-bottom: 34px
			&__description
				font-size: 13px
				line-height: 19px
				min-height: 80px
				margin-bottom: 0
			&__description1
				font-size: 13px
				line-height: 19px
				min-height: 80px
				margin-bottom: 0

			&__link
				font-size: 11px
				line-height: 20px
			&__image
				width: 48px
				height: 48px
				margin-bottom: 15px
			&__title
				margin-bottom: 8px
	.friends
		padding-top: 64px
		padding-bottom: 64px

		&-title
			margin-bottom: 32px
		&-description
			margin-top: 0
			margin-bottom: 12px
	.footer
		padding-top: 47px
		&-wrap
			padding: 0 20px

		&__list
			width: 120px
			margin-bottom: 23px
			text-align: left
		&__title
			font-size: 16px
			line-height: 22px
			margin-bottom: 20px
		&__title1
			font-size: 16px
			line-height: 22px
			margin-bottom: 20px
		&__item
			margin-bottom: 15px
		&__link
			font-size: 14px
			line-height: 20px
		&-link
			max-width: 300px
			margin-top: 6px

			&__text
				font-size: 14px
				line-height: 28px
				text-align: center
				margin-top: 0px

			&__network
			&__image
				margin: 0 auto
				margin-top: 23px

			&__logo
				width: 76px
				margin: 0 auto
				margin-bottom: 14px
	.reviews
		&-slider
			&__title
				font-size: 28px
				line-height: 36px
				margin-top: 23px
				text-align: center
				letter-spacing: 0.2px
				margin-bottom: 67px
			&-avatar
				flex-direction: column
				justify-content: center
				margin-bottom: 6px
			&-avatar1
				flex-direction: column
				justify-content: center
				margin-bottom: 6px

			&__avatar
				margin-bottom: 14px
			&__name
				font-size: 20px
				line-height: 24px
				margin-bottom: 7px

				text-align: center
				letter-spacing: 0.2px
			&__job
				font-size: 11px
				line-height: 27px
			&__description
				font-size: 14px
				line-height: 22px
				text-align: center
				max-width: 270px
			&__description1
				font-size: 14px
				line-height: 22px
				max-width: 270px
				text-align: center

			&__card
				width: 100%
				padding-top: 24px
				padding-left: 8px
				padding-right: 8px
				padding-bottom: 18px
		&-button
			&-prev
				top: 113%
				right: 40%
			&-next
				top: 106%
				left: 43%
	.projects
		padding-top: 18px
		padding-bottom: 0
		&-slider
			&__slide
				width: 300px
				min-height: 404px
			&__wrap
				align-items: center

			&__image
				max-height: 300px
				object-fit: cover
			&__image2
				max-height: 300px
				object-fit: cover

			&__wrap
				padding-left: 10px
				padding-right: 10px
				padding-bottom: 18px

			&-text
				min-height: 104px
				height: 104px
				padding: 20px
				&__subtitle
					font-size: 14px
					line-height: 20px
					text-align: center
					margin-bottom: 10px
				&__title
					font-size: 24px
					line-height: 32px

					text-align: center
					letter-spacing: 0.2px
		&__title
			font-size: 28px
			line-height: 36px
			letter-spacing: 0.2px
			margin-bottom: 36px
		&-button
			&-prev
				display: none
			&-next
				display: none

@media	(max-height:	500px)
	.modal
		&-dialog
			height: 300px
			overflow-y: auto
@media ( max-height: 320px )
	.modal
		&-dialog
			height: 250px
			overflow-y: auto

@media ( max-height: 375px )
	.modal
		&-dialog
			height: 280px
			overflow-y: auto
