*
	box-sizing: border-box
body
	font-family: 'Open Sans', sans-serif
	overflow-x: hidden
	margin: 0
	width: 100vw
	overflow-y: visible
.container
	max-width: 1180px
	margin: auto
	padding: 0 20px

img
	max-width: 100%
button
	cursor: pointer
.title
	font-family: "Roboto", sans-serif
	font-style: normal
	font-weight: bold
	color: $text-color-title
	margin: 0
.description
	font-family: "Open Sans", serif
	font-style: normal
	font-weight: normal
	color: $text-color-description
	margin: 0
.title-blue
	font-family: "Open Sans", serif

	font-size: 14px
	line-height: 19px
	letter-spacing: 2px
	text-transform: uppercase
	color: $text-color-block
	font-style: normal
	font-weight: 600
a
	text-decoration: none
li
 list-style: none
ul
	padding-left: 0
p
	margin-bottom: 0
	margin-top: 0
.swiper-button-disabled
	display: none
