.reviews
	position: relative
	&__title
		font-size: 14px
		line-height: 19px
		letter-spacing: 2px
		text-transform: uppercase
		color: $text-color-block
		font-style: normal
		font-weight: 600
		margin-bottom: 20px
	&-slider
		position: relative
		max-width: 1140px
		margin: 0 auto
		background-color: #fff
		&__wrapper
			max-width: 1140px
			margin: auto
			position: relative

		&__wrap
			position: relative
		&-text
			max-width: 1140px
			margin: 0 auto

		&-avatar
			display: flex
			flex-wrap: wrap
			width: 340px
			justify-content: space-between
			align-items: center
			margin-bottom: 30px
		&-avatar1
			display: flex
			flex-wrap: wrap
			width: 340px
			justify-content: space-between
			align-items: center
			margin-bottom: 30px
			width: 288px
		&__card
			display: flex
			flex-wrap: wrap
			width: 555px
			min-height: 267px
			background: #FFFFFF
			border: 1px solid #E5EAF4
			border-radius: 8px
			padding: 38px
			max-height: 354px
			padding-top: 36px

		&__card1
			display: flex
			flex-wrap: wrap
			width: 555px
			min-height: 267px
			background: #FFFFFF
			border: 1px solid #E5EAF4
			border-radius: 8px
			padding: 38px
			max-height: 354px
			padding-top: 36px
			padding-bottom: 26px

		&__title
			font-size: 36px
			line-height: 48px
			letter-spacing: 0.2px
			margin-bottom: 50px
			margin-top: 20px

		&__avatar
			width: 58px
			min-height: 56px
			border-radius: 50%
		&__name
			font-size: 24px
			line-height: 32px
			margin-bottom: 5px
			letter-spacing: 0.2px
		&__job
			font-size: 16px
			line-height: 28px
			color: $text-color-description
		&__description
			font-size: 14px
			line-height: 24px
			color: $text-color-description
			max-height: 129px
			display: block
			overflow-y: auto
		&__description1
			font-size: 14px
			line-height: 26px
			color: $text-color-description

	&-button
		position: relative
		&-next
			position: absolute
			top: 44%
			left: -25px
			transform: translateY(-50%)
			z-index: 10000
			width: 50px
			height: 50px
			border: none
			background-size: 10px
			background-color: transparent
			cursor: pointer
			background: url(../img/arrow.png) no-repeat
			box-shadow: 1px -5px 15px #ccc
			background-position: center
			transform: rotate(180deg)
			border-radius: 50%

		&-prev
			position: absolute
			top: 50%
			right: -25px
			transform: translateY(-50%)
			z-index: 100
			width: 50px
			height: 50px
			border: none
			background-size: 10px
			background-color: transparent
			cursor: pointer
			background: url(../img/arrow.png) no-repeat
			box-shadow: 1px 5px 15px #ccc
			border-radius: 50%

			background-position: center
			z-index: 1
